.body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("img/shape.jpg");
  text-align: center;
  margin-top: 250px;
  position: absolute;
}

/* Start MENU */

#menu {
  margin: auto;
  left: 385px;
  bottom: -200px;
  border: solid 20px;
  padding: 100px;
  position: absolute;
  height: 600px;
  width: 900px;
  display: block;
  background-color: aquamarine;
}

/* Player Enter Layout */
.section {
  float: right;
  margin-right: 200px;
  margin-top: 100px;
  border: dotted 5px;
  padding: 50px;
  width: 500px;
  border-radius: 30px;
}

.button1 {
  width: 250px;
  height: 50px;
  background: yellow;
  border-radius: 30px;
}
/* Player Space Layout */
.sectionTwo {
  float: left;
  margin-left: 300px;
  margin-top: 100px;
  border: dotted 5px;
  padding: 50px;
  width: 500px;
  border-radius: 30px;
}

.button2 {
  width: 250px;
  height: 50px;
  background: yellow;
  border-radius: 30px;
}

/* CLOCK LAYOUT */

#countDown {
  background: yellow;
  padding: 50px;
  width: 1000px;
  margin-left: 400px;
  border: 2px;
  border: dotted 5px;
  border-radius: 40px;
}

.restart {
  margin: auto;
  border: solid;
  padding: 20px;
  border-radius: 25px;
  background-color: yellow;
}
